@model  WebAdvert.Models.Accounts.LoginModel;

<div class="row">
    <div class="cold-md-4">

        <h4>Login using your email and password</h4>
        <h5>
            <a asp-controller="Accounts" asp-action="Signuo">
                If you are not a member, click hear to sign up
            </a>
        </h5>

        <hr />
        <form method="post" asp-controller="Accounts" asp-action="Login">
            <div asp-validation-summary="All" class="text-danger">

            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Rememberme"></label>
                    <input asp-for="Rememberme"/>
                    @Html.DisplayName("Remember-me")    
                </div>
            </div>
            <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    </div>

</div>